
@import 'colors';
@import 'reset';
@import 'system-font.css';

/* page container */
.page-container {
  height: 100vh;
  background-color: $background;
  display: flex;
  flex-direction: column;
}

/* header module */
.header {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $border;
  height: 45px;
}

.text {
  margin: 0 0 0 12px;
  font: 400 18px system;
  color: $dark_text;
}

.indicator {
  $diameter: 10px;
  margin-left: $diameter;
  width: $diameter;
  height: $diameter;
  border-radius: $diameter / 2;
  background-color: #7ED321;
}

.indicator--error {
  background-color: red;
}

/* pane container module */
.pane-container {
  flex: 1;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

/* pane divider */
.pane-divider {
  background-color: $light_text;
  width: 1px;
}

/* pane module */
.pane {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* buttons */
.control {
  cursor: pointer;
}

.control--add, .control--expand, .control--collapse, .icon--search {
  width: 15px;
  height: 15px;
}

.control--trash {
  width: 14px;
  height: 16px;
}

/* color filter */
.filter {
  display: flex;
}

.dot {
  $diameter: 10px;
  width: $diameter;
  height: $diameter;
  border-radius: $diameter / 2;
  background-color: black;
  margin-right: $diameter;
}

.dot::last-child {
  margin: 0;
}

/* search field */
.search {
  display: flex;
  align-items: center;
}

.search__field {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-appearance: none;
  background-color: initial;
  font-size: 15px;
  height: 22px;
  width: 160px;
  color: $dark_text;
  margin-left: 0.5em;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.25s ease 0s;
}

.search__field::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search__field::-webkit-input-placeholder {
  color: $border;
}

.search__field::-moz-placeholder {
  color: $border;
}

.search__field:focus {
  box-shadow: 0 2px 0 $border;
  outline: none;
}

/* toolbar module */
.toolbar {
  position: relative;
  display: flex;
  justify-content:  space-between;
  align-items: center;
  margin: 0;
  padding: 0 20px;
  height:  35px;
  border-bottom: 1px solid $border;
  background-color: white;
}

.bar-item {
  z-index: 1;
}

.title {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  text-align: center;
  font: 400 16px system;
  color: $dark_text;
}

/* pane content container */
.pane-content-container {
  flex: 1;
  overflow: scroll;
}

.pane-content {
  padding: 12px 0;
}

/* pseudo-table */
/* row */
.row {
  border-style: solid;
  border-color: $border;
  border-width: 0 0 1px 0;
  background-color: white;
}

.row:first-child {
  border-width: 1px 0 1px 0;
}

/* content */
.row-side-content {
  margin: 0 18px;
}

.row-content {
  display: flex; 
  align-items: center;
}

.row-content--collapsed {
  padding: 8px 0;
}

.row-content--expanded {
  padding: 16px 0 32px 0;
}

.row-content--expanded > .control {
  align-self: flex-start;
}

.content {
  flex: 1;
}

.content--text {
  font: 400 16px system;
  color: $dark_text;
}

.content--form {
  font: 400 18px system;
  color: $dark_text;
}

/* technique module */
.technique-section {
  border-style: solid;
  border-color: $border;
  border-width: 0 0 1px 0; 
  padding: 0.5em 0;
}

.technique-section:last-child {
  border-width: 0; 
  padding: 0.5em 0 0 0;
}

.technique-section:first-child {
  padding: 0 0 0.5em 0;
}

.form-title {
  margin: 0;
  font-size: 2em;
  font-weight: 200;
}

.section-heading {
  font-size: 0.66em;
  font-weight: 700;
  margin: 0;
}

.section-content {
  margin: 1em 0 0 1em; 
}

/* name */
.name-list-container {
  display: flex;
  margin-top: 0;
  color: $light_text; 
}

.name-list-label::after {
  content: " ";
  white-space: pre;
}

.name-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.name-list > li {
  margin-bottom: 0.25em;
}

.name-list > li:last-child {
  color: $border;
}

/* attack */

/* defense */
.defense-outer-list {
  padding-left: 0;
  list-style: none;
  counter-reset: li;
}

.defense-outer-list > li {
  display: flex;
  margin-top: 0.5em;
}

.defense-outer-list > li:first-child {
  margin-top: 0;
}

.defense-outer-list > li:last-child {
  color: $border;
}

.defense-outer-list > li:before {
  display: block;
  content: counter(li);
  counter-increment:li;
  text-align: center;
  line-height:1em;
  height: 1em;
  min-width: 1em;
  padding: 0.25em;
  margin-right: 1em;
  border:1px solid;
  border-radius: 50%;
}

.defense-inner-list {
  list-style: none;
  padding-left: 1em;
}

.defense-inner-list > li:before {
  display: inline-block;
  content: "\30FB";
  margin-left: -1em;
  width: 1em;   
}

.defense-inner-list > li:last-child {
  color: $border;
}

