.self {
  height: 100vh;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
}

/* assuming the 1st child is the header, select the 2nd child to expand vertically */
.self > :nth-child(2) {
  flex: 1;
}
