doctype html
html
  head
    title MYKenpo Database
body
  div(id='react-root') !{html}
  script.
    window.__PRELOADED_STATE__ = !{JSON.stringify(preloadedState).replace(/</g, '\\u003c')}
  script(src='assets/vendor.js')
  script(src='assets/client.js')
