doctype html
html
  head
    title MYKenpo Database
    link(rel='stylesheet' type='text/css' href='css/styles.css')
body
  object(type='image/svg+xml' data='icons.svg' style='display:none;')
  div(id='react-root')
  script(src='assets/vendor.js')
  script(src='assets/client.js')
